.button {
    margin-top: 15px;
    display: inline-block;
    padding: 10px;

    background: rgb(2,0,36);
    background: linear-gradient(62deg, rgba(2,0,36,1) 25%, rgba(9,9,121,1) 55%, rgba(0,212,255,1) 100%);

    cursor: pointer;
    width: 20%;

    -webkit-box-shadow: 8px 5px 15px 1px #000000;
    box-shadow: 8px 5px 15px 1px #000000;

    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}